<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FizzBuzzDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E7003FC1DD22F0D007CFEF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7004101DD22F0D007CFEF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E70041B1DD22F0D007CFEF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
